h1{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-image {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

h2{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 900px;
}

p{
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    font-size: 22px;
    color: rgb(153, 153, 153);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}